:root {
	/* COLORS */
	--primary-lightest: hsl(341, 32%, 87%);
	--primary-lighter: hsl(341, 32%, 57%);
	--primary-light: hsl(341, 32%, 37%);
	--primary-color: hsl(341, 32%, 27%);
	--primary-dark: hsl(341, 33%, 17%);
	--primary-darker: hsl(344, 31%, 7%);
	--primary-gradient: linear-gradient(
		to bottom,
		hsl(341, 32%, 97%) 0%,
		hsl(341, 32%, 93%) 25%,
		hsl(344, 31%, 90%) 100%
	);

	--light-theme-color: #fff;

	/* FONTS */
	--primary-font-family: 'Raleway', sans-serif;
	--secondary-font-family: 'Roboto Condensed', 'Helvetica Neue',
		'Arial Narrow', sans-serif;
	--base-font-size: 18px;
	--base-line-height: 1.4;

	/* OTHERS */
	--content-width: 45rem;
	--dropdown-symbol-width: 0.9em;
}

/**
 * Custom Media Queries
 * Works like Custom Properties, except for media queries.
 *
 * @link: https://drafts.csswg.org/mediaqueries-5/#custom-mq
 **/

 @custom-media --narrow-menu-query screen and (max-width: 699px);
 @custom-media --wide-menu-query screen and (min-width: 700px);
 @custom-media --content-query screen and (min-width: 48em);
 @custom-media --sidebar-query screen and (min-width: 60em);
 @custom-media --mobile screen and (max-width: 700px);
 @custom-media --desktop screen and (min-width: 1000px);
 
 
 /*--------------------------------------------------------------
# SERVICES
--------------------------------------------------------------*/

#services {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1.5em;
	padding-top: 2em;
	text-align: center;
}

.service a {
	text-decoration: none;
	color: var(--primary-dark);
	& .service-icon {
		font-size: 5em;
		transition: all 0.25s;
		color: var(--primary-color);
	}
	& .service-icon:hover {
		font-size: 5.2em;
		color: var(--primary-light);
	}
	& h2 {
		color: var(--primary-color);
	}
	& p {
		color: var(--primary-light);
	}
}

@media (--desktop) {
	#services {
		grid-template-columns: repeat(4, 1fr);
  }
  .parallax>div{
    background-size: 100%;
  }
}
.parallax>div{
  background-size: cover;
  background-position: top;
}
@media (--mobile) {
	#services {
		grid-template-columns: 1fr;
  }
  .parallax>div{
    background-size: cover;
    background-position: top;
  }
}
