/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
  /* COLORS */
  --primary-lightest: hsl(341, 32%, 87%);
  --primary-lighter: hsl(341, 32%, 57%);
  --primary-light: hsl(341, 32%, 37%);
  --primary-color: hsl(341, 32%, 27%);
  --primary-dark: hsl(341, 33%, 17%);
  --primary-darker: hsl(344, 31%, 7%);
  --primary-gradient: linear-gradient(
    to bottom,
    hsl(341, 32%, 97%) 0%,
    hsl(341, 32%, 93%) 25%,
    hsl(344, 31%, 90%) 100%
  );

  --light-theme-color: #fff;

  /* FONTS */
  --primary-font-family: "Raleway", sans-serif;
  --secondary-font-family: "Roboto Condensed", "Helvetica Neue", "Arial Narrow",
    sans-serif;
  --base-font-size: 18px;
  --base-line-height: 1.4;

  /* OTHERS */
  --content-width: 45rem;
  --dropdown-symbol-width: 0.9em;
}

/**
 * Custom Media Queries
 * Works like Custom Properties, except for media queries.
 *
 * @link: https://drafts.csswg.org/mediaqueries-5/#custom-mq
 **/

@custom-media --narrow-menu-query screen and (max-width: 699px);
@custom-media --wide-menu-query screen and (min-width: 700px);
@custom-media --content-query screen and (min-width: 48em);
@custom-media --sidebar-query screen and (min-width: 60em);
@custom-media --mobile screen and (max-width: 700px);
@custom-media --desktop screen and (min-width: 1000px);

/* REVIEWS */

#reviews {
  background: url("../../images/texture.svg");
}
#reviews-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  margin: 1em;
}
@media (--mobile) {
  #reviews-container {
    grid-template-columns: 1fr;
  }
}
@media (--desktop) {
  #reviews-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.review-container {
  display: grid;
  background: #fff;
  grid-template-columns: 2fr 6fr;
  border: 1px solid #777;
  padding: 1em;
  line-height: 1.4em;
}
.review-details {
  background: #fafafa;
  border-radius: 4px;
  margin: 2px;
  font-family: Roboto, helvetica, serif;
  font-size: 15px;
  color: #777;
  position: relative;
  line-height: 1.2em;
  font-weight: 300;
}

.review-rating {
  float: left;
  padding-right: 0.5em;
}
.rating-star:before {
  content: "\2605";
  font-size: 16px;
  line-height: 16px;
  color: rgb(231, 113, 27);
}

.review-link {
  color: #136aaf;
  text-decoration: underline;
  border: none;
}

.review-meta {
  justify-self: center;
}
.profile-photo {
  display: block;
  width: 85px;
  height: auto;
  padding: 0 0.5em 0 0;
}
.author-name {
  color: #427fed;
  font-weight: bold;
  line-height: 1em;
  padding-bottom: 0.25em;
}
.review-date {
  padding-bottom: 0.25em;
}
