/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
  /* COLORS */
  --primary-lightest: hsl(341, 32%, 87%);
  --primary-lighter: hsl(341, 32%, 57%);
  --primary-light: hsl(341, 32%, 37%);
  --primary-color: hsl(341, 32%, 27%);
  --primary-dark: hsl(341, 33%, 17%);
  --primary-darker: hsl(344, 31%, 7%);
  --primary-gradient: linear-gradient(
    to bottom,
    hsl(341, 32%, 97%) 0%,
    hsl(341, 32%, 93%) 25%,
    hsl(344, 31%, 90%) 100%
  );

  --light-theme-color: #fff;

  /* FONTS */
  --primary-font-family: "Raleway", sans-serif;
  --secondary-font-family: "Roboto Condensed", "Helvetica Neue", "Arial Narrow",
    sans-serif;
  --base-font-size: 18px;
  --base-line-height: 1.4;

  /* OTHERS */
  --content-width: 45rem;
  --dropdown-symbol-width: 0.9em;
}

/**
 * Custom Media Queries
 * Works like Custom Properties, except for media queries.
 *
 * @link: https://drafts.csswg.org/mediaqueries-5/#custom-mq
 **/

@custom-media --narrow-menu-query screen and (max-width: 699px);
@custom-media --wide-menu-query screen and (min-width: 700px);
@custom-media --content-query screen and (min-width: 48em);
@custom-media --sidebar-query screen and (min-width: 60em);
@custom-media --mobile screen and (max-width: 700px);
@custom-media --desktop screen and (min-width: 1000px);

.site-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  border-bottom: 1px solid #000;
  padding: .5em 3em .5em;
}

/************************************
Main Menu
 ***********************************/
.navbar-nav a {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary-color) !important;
}
.navbar {
  position: absolute !important;
  z-index: 999;
  right: 20px;
}
/*
	Top Bar
--------------------------------------------------------------*/

.top_bar {
  font-family: var(--secondary-font-family);
  width: 100%;
  background-color: var(--primary-color);
  margin: 0;
  display: none;
  grid-template-columns: repeat(3, 1fr) 1fr;
  justify-content: flex-start;
  line-height: 0.8em;
}

.top_bar a {
  text-decoration: none;
}

.ph2_info {
  position: relative;
  padding: 5px 0 6px 15px;
  border-right: 1px solid hsla(100, 100%, 100%, 0.5);
  border-top: 3px solid transparent;
  transition: all 0.25s;
}

.ph2_info:hover {
  border-top: 3px solid var(--light-theme-color);
}

.ph2_info::after {
  position: absolute;
  content: "";
  top: 2%;
  right: 15px;
  width: 1px;
  height: 96%;
}

.ph2_info:last-child::after {
  display: none;
}

.top_bar i {
  position: absolute;
  font-size: 1.5em;
  color: var(--light-theme-color);
}

.ph2_info strong,
.ph2_info span {
  display: block;
  padding-left: 2.25rem;
}

.ph2_info strong {
  font-size: 0.8em;
  color: var(--light-theme-color);
  font-weight: 600;
}

.ph2_info span {
  font-size: 0.7em;
  color: var(--light-theme-color);
  transition: all 0.25s;
}

@media (--desktop) {
  .top_bar {
    display: grid;
  }
}
